@charset "utf-8";



.bg-green {
  background: rgb(91, 213, 103);
}

.bg-gray-perso{
  background: rgb(202, 202, 202);
}

.chat{
  height: 91.5vh;
}

.sidebar {
  height: 100vh;
}

.bg-red {
  background: red;
}

.app{
    height: 100vh;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.max-h {
    max-height: 80vh;
}